  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
     width: 7%; 
  }
  
  .checkbox-margin {
    margin: 0 12px;
  }

  .mat-column-number {
    width: 9%;
  }

  .mat-column-isClosedFloor {
    width: 5%;
  }

  .mat-column-capacity {
    width: 5%;
    text-align: center;
  }

  .mat-column-tare {
    width: 5%;
  }

  .mat-column-axlesCount {
    width: 5%;
    text-align: center;
  }

  .mat-column-volume {
    width: 5%;
    text-align: center;
  }

  .mat-column-actions {
    width: 3%;
  }

  .table-container {
    /* height: 600px; */
    /* width: 1200px; */
    overflow: auto;
  }

  .mat-table-sticky:first-child {
    border-right: 1px solid #e0e0e0;
  }
  
  .mat-table-sticky:last-child {
    border-left: 1px solid #e0e0e0;
  }