table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 13%;
  }
  
  .vagon-card {
    max-width: 900px;
  }
  
  .price-right-align {
    text-align: right;
  }
  
  input.price-right-align::-webkit-outer-spin-button,
  input.price-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.price-right-align {
    -moz-appearance: textfield;
  }

  .vagon-type-radio-group {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 5px;
  }
  
  .vagon-type-radio-button {
    margin: 0 10px;
  }

  .vagon-type {
    margin-top: 15px;
    margin-left: 50px;
  }
  
  .checkbox-margin {
    margin: 0 12px;
  }

  .mat-card-actions-div {
    margin: 0px 0px 15px 8px;
  } 

  .mat-card-content {
    margin-bottom: 0px;
  }

  .mat-column-isNfc {
    width: 5%;
  }

  .mat-column-name {
    width: 20%;
  }

  .mat-column-screenType {
    width: 7%;
  }

  .mat-column-os {
    width: 10%;
  }