<h1 id="tableLabel">Список моделей</h1>

<p>This component demonstrates fetching data from the server.</p>

<div>
  <!-- <input mat-button type="button" value="Добавить" class="btn btn-primary" (click)="add()" /> -->
  <button mat-raised-button color="primary" (click)="add()">Добавить</button>

</div>

<div *ngIf="tableMode; else create">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Фильтр">
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Модель </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="company">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Производитель </th>
        <td mat-cell *matCellDef="let element"> {{element.company}} </td>
      </ng-container>

      <ng-container matColumnDef="screenType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Тип экрана </th>
        <td mat-cell *matCellDef="let element"> {{getScreenTypeName(element.screenType)}} </td>
      </ng-container>

      <ng-container matColumnDef="os">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> OS </th>
        <td mat-cell *matCellDef="let element"> {{getOsName(element.os)}} </td>
      </ng-container>

      <ng-container matColumnDef="deliveryDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Дата поставки </th>
        <td mat-cell *matCellDef="let element">
          {{getFormattedDate(element.deliveryDate)}}
        </td>
      </ng-container>

      <ng-container matColumnDef="isNfc">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> NFC </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon aria-label="Example home icon">{{getBoolIconName(element.isNfc)}}</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Цена </th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
  </div>
</div>


<!--шаблон для добавления-->
<ng-template #create>
  <br/>
  <mat-card class="product-card">
    <mat-card-header>
      <mat-card-title>Добавление модели</mat-card-title>
      <mat-card-subtitle>Введите характеристики телефона</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>Модель</mat-label>
        <input type="text" [(ngModel)]="product.name" matInput required>
      </mat-form-field>
      
      <mat-form-field appearance="fill">
        <mat-label>Производитель</mat-label>
        <input type="text" [(ngModel)]="product.company" matInput>
      </mat-form-field>

      <label id="screen-type-label">Тип экрана:</label>
      <mat-radio-group
        aria-labelledby="screen-type-label"
        class="screen-type-radio-group"
        [(ngModel)]="product.screenType">
        <mat-radio-button class="screen-type-radio-button" *ngFor="let screenType of screenTypes" [value]="screenType.value">
          {{screenType.viewValue}}
        </mat-radio-button>
      </mat-radio-group>

      <mat-form-field appearance="fill">
        <mat-label>OS</mat-label>
        <mat-select [(ngModel)]="product.os" name="os" required>
          <mat-option *ngFor="let os of osList" [value]="os.value">
            {{os.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      

      <mat-form-field appearance="fill">
        <mat-label>Дата поставки</mat-label>
        <input matInput [matDatepicker]="deliveryDate" [(ngModel)]="product.deliveryDate">
        <mat-datepicker-toggle matSuffix [for]="deliveryDate"></mat-datepicker-toggle>
        <mat-datepicker #deliveryDate></mat-datepicker>
      </mat-form-field>  

      <mat-checkbox class="checkbox-margin" color="primary" [(ngModel)]="product.isNfc">NFC</mat-checkbox>

      <mat-form-field appearance="fill">
        <mat-label>Цена</mat-label>
        <input matInput type="number" class="price-right-align" [(ngModel)]="product.price">
        <span matPrefix></span>
        <span matSuffix>.00 &#8381;</span>
      </mat-form-field>
    </mat-card-content>
    
    <mat-card-actions>
      <div class="mat-card-actions-div">
          <button mat-stroked-button color="primary" (click)="save()">Сохранить</button>
          <button mat-stroked-button (click)="cancel()">Отмена</button>
      </div>
    </mat-card-actions>
</mat-card>
</ng-template>