table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  
  .example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  
  .price-right-align {
    text-align: right;
  }
  
  input.price-right-align::-webkit-outer-spin-button,
  input.price-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.price-right-align {
    -moz-appearance: textfield;
  }